.bg-container {
  background-color: #edf6f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading-container {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.heading1 {
  font-size: 14px;
}

.content {
  width: 90%;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  padding: 8px;
  height: 40px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
  border: none;
  background-color: #f8df8c;
  width: 180px;
}

.button {
  border-width: 0px;
  border-radius: 3px;
  background-color: white;
  margin: 3px;
  height: 35px;
  width: 50px;
}
.select {
  height: 40px;
  border-radius: 10px;
  background-color: #f8df8c;
}

.statistics-container {
  background-color: #f8df8c;
  border-radius: 20px;
  padding: 15px;
  width: 250px;
}

.container2 {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .content {
    width: 800px;
  }
  .main-heading-container {
    width: 210px;
    height: 210px;
  }
  .heading1 {
    font-size: 24px;
  }
}
